<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Memetaverse Notifications</title>
</head>

<body>
<table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td align="center">
            <table width="365" height="200" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td style="padding-bottom: 16px;
                        box-sizing: border-box;
                        position: relative;
                        color: #43404a;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 24px;
                        text-decoration: none;
                        display: inline-block;
                        width: 365px;
                        text-align: left;
                        font-family: system-ui, BlinkMacSystemFont, 'Segoe UI',
                          Roboto, 'Helvetica Neue', Arial, sans-serif;
                  ">
                        {{{ content }}}
                    </td>
                </tr>

                {{#if actionButtonLink }}
                    <tr>
                        <td style="height: 41px; padding-bottom: 8px; display: block; text-align: center;">
                            <a href="{{actionButtonLink}}" target="_blank" rel="noopener"
                               style="
                    background-color: #ff2d55;
                    width: 365px;
                    height: 41px;
                    border-radius: 6px;
                    color: #fff;
                    padding: 12px 44px 12px 44px;
                    text-decoration: none;
                    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI',
                      Roboto, 'Helvetica Neue', Arial, sans-serif;
                  ">{{ insert actionButtonText 'default=Click'}}</a>
                        </td>
                    </tr>
                {{/if}}
            </table>
        </td>
    </tr>
</table>

<div style="text-align: center; padding-top: 40px;
                        font-size: 11px;
                        font-weight: 500;
                        line-height: 24px;
">
    {{#if unsubscribeOneUrl }}
        <a href="{{unsubscribeOneUrl}}" target="_blank" rel="noopener"
           style="
                    color: #ff2d55;
                    text-decoration: none;
                    display: block;
                    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI',
                      Roboto, 'Helvetica Neue', Arial, sans-serif;
                  ">Unsubscribe from this type of notifications</a>
    {{/if}}

    {{#if unsubscribeAllUrl }}
        <a href="{{unsubscribeAllUrl}}" target="_blank" rel="noopener"
           style="
                    color: #ff2d55;
                    text-decoration: none;
                    display: block;
                    font-family: system-ui, BlinkMacSystemFont, 'Segoe UI',
                      Roboto, 'Helvetica Neue', Arial, sans-serif;
                  ">Unsubscribe from all Memetaverse notifications</a>
    {{/if}}
</div>

</body>
</html>
